.head {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #b4bef0;
}

.head__profile {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.head__search {
  margin: 10px 0 0 30px;
}

.head__input {
  padding: 20px 20px 20px 32px;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #3c425f;
  border: none;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;

 &::placeholder {
   color: #b4bef0;
 }
}

.head__profile {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.head__link {
  font-size: 16px;
  line-height: 40px;
  color: #3c425f;
  text-decoration: none;
}

.head__btn--profile {
  position: relative;
  width: 30px;
  border: none;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #576bcc;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
}

.head__btn--notifications {
  width: 25px;
  height: 25px;
  margin: 27px;
  background-image: url("../img/notifications.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  background-color: transparent;
  border: none;
}

.head__counter {
  display: inline-block;
  position: relative;
  right: -5px;
  top: -5px;
  width: 18px;
  height: 18px;
  font-weight: 900;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  background-color: #ff8f0b;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
