.offers {
  grid-area: offers;
}

.offers__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.offers__item {
  display: grid; /* для выравнивания ссылки */
  grid-template-rows: auto 1fr auto;
  padding: 20px 30px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(60, 66, 95, 0.2);
  border-radius: 4px;
}
.offers__title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3c425f;
}

.offers__text {
  margin: 5px 0 5px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #3c425f;
}

.offers__text--time {
  margin: 0 0 8px 0;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #0bc4cf;
}

.offers__footer {
  text-align: right;
}

.offers__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #576bcc;
  text-decoration: none;
}
