* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #3c425f;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

html,
body {
  min-width: 1440px;
  min-height: 980px;
}

body {
  /* Временно для сетки */
  background-image: url('https://assets.htmlacademy.ru/content/skills/6/case-01/inde.jpg');
  background-size: 1440px auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-areas:
    "navigation header"
    "navigation main"
    "footer footer";
  grid-template-columns: 280px 1fr;
  grid-template-rows:
    80px
    1fr
    60px;
  min-height: 100vh;
}

.main {
  grid-area: main;
  padding: 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 300px auto 1fr;
  grid-template-areas:
    "slider contacts"
    "offers contacts"
    "video contacts";
  grid-gap: 20px;
  background-color: #f1f3fe;
}

.item__letter::before {
  content: attr(data-text);
  width: 40px;
  height: 40px;
  font-weight: 900;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  color: #b4bef0;
  border-radius: 50%;
  background-color: #f1f3fe;
}
