.slider {
  position: relative;
  grid-area: slider;
  width: 820px;
  height: 300px;
  padding: 32px 60px;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.slider__img {
  position: absolute;
  left: 0;
  top: 0;
}

.slider__title {
  position: relative;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 28px;
  line-height: 48px;
  color: #ffffff;
}

.slider__paragraph {
  position: relative;
  margin: 0 0 30px 0;
  max-width: 470px;
  color: #ffffff;
}

.slider__link {
  position: relative;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  background-color: #ff8f0b;
  border-radius: 4px;
}

.slider__btn {
  position: absolute;
  width: 64px;
  height: 64px;
  left: -32px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: left 35px center;
  background-size: 18px 18px;
}

.slider__btn--next {
  left: auto;
  right: -32px;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(180deg);
}
