.video {
  grid-area: video;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.video__lesson {
  width: 540px;
  height: 300px;
}

.video__title {
  margin: 20px 0 13px 30px;

  border-bottom: 1px solid #e4e8fc;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.video__wrap {
  position: relative;
  height: 300px;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(60, 66, 95, 0.2);
  border-radius: 4px;
}

.video__list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 235px;
  overflow-y: auto;
}

.video__item {
  display: grid;
  grid-template-columns: 32px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
        "button title"
        "button desc";
  grid-column-gap: 13px;
  padding: 8px 10px 8px 30px;

  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #3c425f;
}

.video__item--active {
  background-color: #f1f3fe;
}

.video__btn {
  position: relative;
  grid-area: button;
  width: 32px;
  height: 32px;
  background-color: #f1f3fe;
  border-radius: 4px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    transform: translate(12px, 10px);
    border-top: 6px solid transparent;
    border-left: 12px solid #576bcc;
    border-bottom: 6px solid transparent;
    border-right: 12px solid transparent;
  }
}

.video__btn--active {
  background-color: #576bcc;

  &::before {
    border-left-color: #ffffff;
  }
}

.video__text {
  margin: 0;
}

.video__text--title {
  grid-area: title;
  font-weight: 900;
}

.video__text--para {
  grid-area: desc;
}
